body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  height: 8vh;
}

nav a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: 1.3rem;
  transition: all 200ms ease-in-out;
  
}

nav a:hover {
  border-bottom: 5px dotted white;
}

.addFriendForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.addFriendForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.inputs input {
  display: flex;
  border-radius: 0 0 0 5px;
  background-color: seashell;
  border-style: none none inset inset;
  border-width: 3px;
  width: 100px;
}

form button {
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: rgb(107, 162, 80);
  color: black;
  font-size: 1.2rem;
  letter-spacing: 10px;
  font-weight: bolder;
  box-shadow: 5px 5px 5px gray;
}

form button:active{
  box-shadow: 2px 2px 2px gray;
}

h1 {
  text-align: center;
  border: 10px solid black;
  width: 30%;
  margin: 50px auto 25px;
}

.friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
  width: 60%;
  margin: 10px auto;

}